<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">User: <%= review.user.firstname %> <%= review.user.lastname %></h4>
  </div>
  <div class="panel-body">
    <p><%= review.description %></p>
    <strong><p><%= review.rating %>/10</p></strong>
  </div>
</div>
